ACCEPT_EULA=Y
PRIVACY_CONSENT=Y
ISAAC_LAB_IMAGE=nvcr.io/nvidia/isaac-lab:2.3.0
MINI_PI0_ISAACLAB_IMAGE=mini-pi0-isaaclab:2.3.0
MINI_PI0_CACHE_ROOT=.cache/isaaclab
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=all
MINI_PI0_INSTALL_EDITABLE=1
